<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.jackhang.locationsms"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!--写短信的权限-->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!--收短信的权限-->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <!--读取短信信息的权限-->
    <uses-permission android:name="android.permission.READ_SMS"/>
    <!--读取联系人的权限-->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--用于访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SettingsActivity" />

        <service android:name="com.amap.api.location.APSService"/>

        <meta-data android:name="com.amap.api.v2.apikey" android:value="be7df958131cd5ae20d3d43785aabf52"/>

        <receiver android:name="com.jackhang.broadcast.SmsBroadcastReceiver">
            <intent-filter android:priority="1000"> <!--优先级：-1000~1000，系统短信优先级为-1-->
                <!--订阅广播事件类型-->
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>